@* @{
Layout = "_Layout";
} *@

<h1>Home Page My Courses</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus laborum quibusdam praesentium similique adipisci distinctio suscipit, exercitationem animi sunt doloremque ab, quos eligendi commodi tenetur expedita omnis. Obcaecati, deleniti libero!</p>
<p>Praesentium nulla soluta iusto eveniet error reiciendis voluptatum quis est qui suscipit voluptatibus perspiciatis harum fugiat, illo ipsum molestias dolor quisquam amet repellat nam, ipsa rerum. Dolorem incidunt iusto sapiente.</p>
<p>Quia aspernatur praesentium, asperiores dolorem dolore quisquam, aut voluptatibus voluptatum soluta nulla dolorum. Doloremque eaque eligendi maiores ipsa velit consectetur expedita, et quia perspiciatis soluta quam praesentium dolor, quidem iusto.</p>
<p>Fuga cupiditate iste recusandae expedita sapiente dolore excepturi tempora laboriosam suscipit ratione, at nesciunt sit molestias libero itaque culpa sint quasi. Reprehenderit mollitia dolor ut aperiam fugiat numquam magnam labore.</p>
<p>Unde expedita magnam mollitia modi, beatae voluptatum placeat harum eveniet obcaecati, in nam incidunt sequi aliquam nostrum dolorum at? Earum fugit harum alias possimus vero numquam dolorem officiis cupiditate impedit?</p>